html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.jumbotronbackground{
background-image: url("img/home-bg.jpg");
min-height: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
}

.nav-link {
font-weight: bold;

}
.footer{
background: #152F4F;
color:white;

.links{
ul {list-style-type: none;}
li a{
color: white;
transition: color .2s;
&:hover{
      text-decoration:none;
      color:#4180CB;
      }
}
}  
.about-company{
i{font-size: 25px;}
a{
color:white;
transition: color .2s;
&:hover{color:#4180CB}
}
} 
.location{
i{font-size: 18px;}
}
.copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}