


.m-b-md {
margin-bottom: 30px;
}
.jumbotronbackground{
background-image: url("../img/home-bg.jpg");
min-height: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
}
.nav-link {
font-weight: bold;
}
.footer{
background: #152F4F;
color:white;    
}  


